<script>
	console.log('🦕 hello world')
</script>

<article>
	<p>mioe</p>
</article>

<style>
	article {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}
</style>
