<script>
	import WindowManager from '../libs/WindowManager'

	if (new URLSearchParams(window.location.search).get('clear')) {
		localStorage.clear()
	} else {
		const wm = new WindowManager()
		console.log('🦕 hello world', wm)
	}
</script>

<article>
	<p>mioe</p>
</article>

<style>
	article {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}
</style>
